"~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
" configure search.
"------------------------------------------------------
" highlight, and search incrementally as we type.
set hlsearch
set incsearch
" ignore case for the purposes of searching;  however if we 
" use an uppercase character, then treat it as case-sensitive.
set smartcase
set ignorecase
"~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

set ideajoin